main {
    display: grid;
    grid-template-columns: 12.5% 22.5% 30% 22.5% 12.5%;
    grid-template-rows: auto;
    grid-template-areas: 
        ". playerone board playertwo .";
    align-items: center;
}
