header {
    display: grid;
    grid-template-columns: 12.5% 22.5% 30% 22.5% 12.5%;
    grid-template-rows: auto;
    grid-template-areas: 
        ". menu logo restart .";
    align-items: center;

    margin: 50px 0px 75px 0px;
}

header button {
    color: var(--text);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 25px;
  
    border: 0;
    border-radius: var(--border-radius);
  
    background-color: var(--dark-bg);
    border: 5px solid transparent;
    box-shadow: 0px 5px transparent;
  }
  
header button:hover {
    cursor: pointer;
    border: var(--border);
    box-shadow: 0px 10px black;
}

header button:first-child {
    grid-area: menu;
    justify-self: end;
    margin-right: 100px;
}

header button:first-child:hover {
    background-color: var(--red-player);
}

header button:last-child {
    grid-area: restart;
    justify-self: start;
    margin-left: 100px;
}

header button:last-child:hover {
    background-color: var(--yellow-player);
}

header .logo {
    grid-area: logo;
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 7px;
    row-gap: 7px;
}

header .logo div {
    width: 25px;
    aspect-ratio: 1;

    border-radius: 50%;
    border: var(--border);
    box-shadow: 0px 5px black;
}


