footer {
    display: flex;
    justify-content: center;
    align-items: top;

    background-color: var(--dark-bg);
    border-radius: var(--border-radius) 0;

    margin-top: -75px;

    width: 100vw;
    height: 50vh;
}

.turn {
    background-image: url(
        "../../images/red-bg.svg"
    );
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: var(--red-player);
    border-radius: 50px;
    border: 5px solid var(--border);
    box-shadow: 0px 10px var(--border); */

    text-align: center;
    color: var(--text);

    padding: 50px 50px 50px 50px;
}