footer {
    display: flex;
    justify-content: center;

    background-color: var(--dark-bg);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    margin-top: -75px;

    width: 100vw;
    height: 50vh;
}

.turn {
    z-index: 3;
    
    background-repeat: no-repeat;
    background-size: contain;

    text-align: center;
    color: var(--text);

    padding: 50px 50px 50px 50px;
}

.turn.one {
    background-image: url(
        "../../images/red-bg.svg"
    );
}

.turn.two {
    background-image: url(
        "../../images/yellow-bg.svg"
    );
}