:root {
  --bg: #7944ff;
  --dark-bg: #5c2dd8;
  --red-player: #ff658a;
  --yellow-player: #feca65;
  --text: white;

  --border: 5px solid black;
  --border-shadow: 0px 15px black;
  --border-radius: 2rem;
}

h1 {
  font-size: 6rem;
  line-height: 0.8;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0 10px 0;
}

button {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 25px;

  border: 0;
  border-radius: 50px;

  background-color: var(--dark-bg);
  border: 5px solid transparent;
  box-shadow: 0px 5px transparent;
}

button:hover {
  cursor: pointer;
  border: 5px solid var(--border);
  box-shadow: 0px 5px var(--border);
}

button:first-child:hover {
  background-color: var(--red-player);
}

button:last-child:hover {
  background-color: var(--yellow-player);
}

.red {
  background-color: var(--red-player);
}

.yellow {
  background-color: var(--yellow-player);
}