:root {
  --bg: #7944ff;
  --dark-bg: #5c2dd8;
  --red-player: #ff658a;
  --yellow-player: #feca65;
  --border: black;
  --text: white;
}

button {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 25px;

  border: 0;
  border-radius: 50px;

  background-color: var(--dark-bg);
  border: 5px solid transparent;
  box-shadow: 0px 5px transparent;
}

button:hover {
  cursor: pointer;
  border: 5px solid var(--border);
  box-shadow: 0px 5px var(--border);
}

button:first-child:hover {
  background-color: var(--red-player);
}

button:last-child:hover {
  background-color: var(--yellow-player);
}